@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

$row-bg: #304FFE;
$row-txt: #ffff;
$breakpoint-tablet: 768px;
$art-size: 100px;
$art-size-s: 70px;
$player-width-l: 60%;
$player-width-s: 97%;
$player-width-m: 85%;
$breakpoint-md: 1280px;



.player {
    display: flex;
    flex-direction: column;
}

.song-info {

    transition: .2s;
    &:hover{
        cursor: pointer;
        background: $blue-100;
    }   
}

.active {
    background: $blue-700;
    color: $row-txt;

    &:hover {
        background: $blue-700;
    }
}

.controls-section {
    width: $player-width-l;
    margin-top: 1.5%;
    margin-bottom: 1.2%;
}

.player-controls {
    display: flex;
    flex-direction: column;
    width: 48%;
}

table {
    border-left: 0px;
    border-right: none;
    width: 100%;

    th, td {
        border-left: none;
        border-right: none;
    }

    max-height: 50vh;
    overflow: scroll;

    td:last-child, tr:last-child {
        border-bottom: none;
    }


}


#songs-list {
    max-height: 71vh;
    overflow: scroll;
    overflow-x: hidden;
    width: $player-width-l;

    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: $gray-100;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: $gray-200;
    }
}

.song-art {
    width: 35px;
    height: 35px;
}

.vol-icon {
    cursor: pointer;
}

.pause-color {
    background: $indigo-800;

    &:hover {
        background: $indigo-800;
    }
}

.beat-art {
    width: $art-size;
    height: $art-size;
}

.track-info {
    width: 25%
}

.song-title {
    width: 100%;
}

.btn {
    outline: none;
}

.btn:focus {
    outline: none;
}
input[type="button"]:focus {
    outline: none;
}

//progress bar

.progress-bar-container {
    height: 1.5vh;
    width: 100%;
    background-color: #304FFE;
}

.progress-bar {
    background: #304FFE;
    width: 100%;
}


// media queries

@media (max-width: $breakpoint-tablet) {
    .price, .bpm, .table-head {
        display: none;
    }

    #songs-list {
        width: $player-width-s;
    }

    .player {
        #songs-list {
            order: -1;
        }

        .player-controls {
            margin-top: 0%;
        }
    }

    .player-controls {
        width: 65%;
    }

    .beat-art {
        width: $art-size-s;

        height: $art-size-s;
        // display: none;
    }

    .controls-section {
        width: $player-width-s;

    }

    .control-buttons {
        width: auto;
    }

    .track-info {
        width: 25%
    }
}

@media (min-width: $breakpoint-tablet) and (max-width:$breakpoint-md) {
    .controls-section, #songs-list {
        width: $player-width-m;

    }
}